@model SalaDeEnsaio.Models.ContaReceber

@{
    ViewBag.Title = "Excluir";
}

<h2>@ViewBag.Title</h2>

<h3>Tem certeza de que deseja excluir?</h3><small>Esta alteração é irreversível.</small>
<div>
    <h4>Conta a receber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recebido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recebido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vencimento)
        </dt>

        <dd>            
            @(string.Format("{0}/{1}/{2}",
                Model.Vencimento.Day.ToString().PadLeft(2,'0'),
                Model.Vencimento.Month.ToString().PadLeft(2, '0'),
                Model.Vencimento.Year))
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
