@model IEnumerable<SalaDeEnsaio.Models.Pessoa>

@{
    ViewBag.Title = "Pessoas";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Inserir nova pessoa", "Create", new { }, new { @class = "btn btn-primary" })
    </div>
    <div class="col-lg-4">
        <input type="text" id="search" class="form-control" placeholder="Pesquisar" autofocus />
    </div>
</div>
<br />
<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <a href="@Url.Action("Edit","Pessoas", new { id = item.Id })" class="btn" title="Editar">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("Delete","Pessoas", new { id = item.Id })" class="btn" title="Excluir">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
                <td class="nome">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsavel)
                </td>
                <td>
                    @if (item.Nascimento.HasValue)
                    {
                        @(item.Nascimento.Value.ToString("dd/MM/yyyy"))

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="~/Scripts/app/pessoa.js"></script>
}